@font-face {
  font-family:          'jbm';
  src:                  url('jbm.woff2');
}
html {
  background-image:     url('images/bg.gif');
  background-repeat:    repeat;
  background-size:      40px 40px;
  color:                #d3c6aa;
  font-family:          'jbm';
}
body {
  margin:               0 0;
}


/* unvisited link */
a:link {
  color:                #7fbbb3;
}
a:visited {
  color:                #83c092;
}
a:hover {
  color:                #d699b6;
}
a:active {
  color:                #e67e80;
}

.bg { 
  background-image:     url('images/two_forests_everforest.png');
  background-repeat:    repeat-y;
  background-size:      100% 200%;
  mix-blend-mode:       overlay;
  position:             fixed;
  top:                  0;
  bottom:               0;
  left:                 0;
  right:                0;
  z-index:              -10;
}

.container { /* stolen from bucketfish.me */
  max-width:            768px;
  margin:               10px auto;
  padding:              0 10px;
}

.paragraph {
  border:               5px solid #a7c080;
  padding:              15px;
  margin-bottom:        20px; 
  position:             relative;
  background-color:     #323c41;
  overflow:             hidden;
  box-shadow:           8px 8px #3a454a;
}

@keyframes marquee-veryfast {
  0% {
    -moz-transform:     translateX(100%);
    -webkit-transform:  translateX(100%);
    transform:          translateX(100%);
  }
  100% {
    -moz-transform:     translateX(-100%);
    -webkit-transform:  translateX(-100%);
    transform:          translateX(-100%);
  }
}

.marquee-veryfast {
  width:                100%;
  animation:            marquee-veryfast 10s linear infinite;
}

.yellow {
  color:                #dbbc7f;
}

#navigation {
  position:             absolute;
  top:                  15px;
  right:                15px;
}

p, h1, h2, h3 {
  margin:               0%;
}

#john {
  margin:               0% auto;
  box-shadow:           8px 8px #3a454a;
}

#mante table {
  width:                100%;
}
